
/* wp-travel-dashboard */

#wpadminbar,
.wp-site-blocks .wp-travel .dashboard-tab #account,
.wp-site-blocks .wp-travel .dashboard-tab #address,
.wp-site-blocks .wp-travel .dashboard-tab #logout,
.wp-site-blocks .wp-travel .dashboard-tab #dashboard {
  display: none;
}

.entry-content .wp-travel {
  margin: 0;
}

div[aria-controls="tab_item-0"],
div[aria-labelledby="tab_item-0"],
div[aria-controls="tab_item-4"],
div[aria-labelledby="tab_item-4"],
div[aria-controls="tab_item-5"],
div[aria-labelledby="tab_item-5"],
div[aria-controls="tab_item-6"],
div[aria-labelledby="tab_item-6"] {
  display: none;
}

table.order-list-table {
  width: 100%;
}

table.order-list-table tr {
  display: flex;
  justify-content: space-between;
}
