#wptravel-pay-with-stripe,
#wptravel-proceed-with-stripe,
input[name=wp_travel_book_now],
input#wp-travel-book-now  {
	background: #009cde;
	color: #fff;
	min-width: 40%;
	width: auto;
	font-weight: 900;
	height: 35px;
	min-height: 35px;
	max-height: 55px;
	border-radius: 18px;
	border: 0;
}


.checkout-page-wrap .payment-content .wp-travel-form-field.stripe-procced-payment-btn
.checkout-page-wrap .payment-content .wp-travel-form-field.button-field {
	display: flex;
	justify-content: center;
}
